                                                                                                                                                                                                                                                body background-image:url(figuras/losandes.jpg);
h3 {color:green;}
h4{color:blue;}
p {color: black; font-size:12pt; font-family:"Verdana" ,sans-serif;}
table.center {
 
margin-left:auto;
margin-right:auto;
   }
